Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientist use are:

1.Python
2.R
3.SQL
4.Java etc.

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1.TensorFlow
2.NumPy
3.SciPy
4.Pandas
5.Matplotlib
6.Keras
7.SciKit-Learn
8.PyTorch

Exercise 6 - Create a markdown cell with a table of Data Science tools

### Below are a few examples of evaluating arithmetic expressions in Python.

|Data Science Tools|
|-------------------|
|Anaconda|
|Jupyter Notebook|
|R Studio|
|Spyder|
|Zeppelin|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

Exercise 8 - Create a code cell to multiply and add numbers

In [5]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [6]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

# Objectives

- Create markdown cells
- How to provide comment in the cell
- list of well known data science tools
- How create table
- How to use heading style

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Sunil Patil